@tailwind base;
@tailwind components;
@tailwind utilities;

.customShadow {
  box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.85);
}
